@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(fonts/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(fonts/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(fonts/Montserrat-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 0 40px;
    grid-template-areas: ". content content content content .";
}

.grid-video {
    margin-top: 50px;
    align-items: center;
    grid-template-areas: "video video video benefits benefits benefits";
}

.grid-benefit-detail {
    margin-top: 4rem;
}

.grid-video video {
    grid-area: video;
    width: 100%;
    max-width: 600px;
    justify-self: center;
}

.content {
    grid-area: content;
    max-width: 2000px;
    width: 100%;
}

.dark-header {
    background-color: #007451;
    color: white;
    position: relative;
    z-index: 1;
}

.light-header {
    background-color: #00A170;
    color: white;
    padding-top: 500px;
    margin-top: -500px;
}

.brand-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50px;
    margin-right: .5rem;
}

.title {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
}

.subtitle {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
}

.brand-name {
    font-weight: 500;
}

.dark-header-divider {
    background-image: url("imagens/Header\ Background.svg");
    height: 190px;
    margin-top: -5px;
    background-position: bottom left;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.light-header-divider {
    background-image: url("imagens/Email\ Background.svg");
    height: 210px;
    margin-top: -5px;
    background-position: bottom left;
    background-size: cover;
}

.email-form {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 1.75rem;
}

.email-form input {
    background-color: white;
    color: #007451;
    border: 2px solid black;
    border-radius: .5em;
    padding: .5em 1em;
    margin-right: 1em;
    outline: none;
    flex-grow: 1;
}

.email-form input:focus {
    background-color: #c2ffed;
}

.email-form button {
    color: white;
    background-color: #212121;
    border: 2px solid white;
    border-radius: .5em;
    padding: .5em 1em;
    max-width: 250px;
    cursor: pointer;
    transition: background .7s, color .7s, border .7s;
}

.email-form button:hover,
.email-form button:focus {
    background-color: white;
    color: #007451;
    border: 2px solid black;
}

.benefits-section {
    grid-area: benefits;
    margin-left: 3rem;
    justify-self: flex-start;
}

.benefit {
    display: flex;
    align-items: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.benefit img {
    height: 3rem;
    margin-right: 2rem;
}

.benefit-detail {
    grid-column: span 2;
    margin: 2rem;
}

.benefit-detail-title {
    text-align: center;
    font-size: 1.75rem;
    color: black;
    margin-bottom: 2rem;
}

.benefit-detail-text {
    font-size: 1.5rem;
    color: black;
    font-weight: 300;
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas: "content";
    }
    .grid-video {
        grid-template-columns: 1fr;
        grid-template-areas: "video" "benefits";
    }
    .grid-video video {
        justify-self: center;
    }
    .grid-benefit-detail {
        grid-template-columns: repeat(6, 1fr);
    }
    .benefits-section {
        margin-top: 2rem;
        margin-left: 0;
        justify-self: center;
    }
}

@media (max-width: 1000px) {
    .grid-benefit-detail {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px) {
    .email-form {
        flex-direction: column;
    }
    .email-form button {
        max-width: initial;
        width: 100%;
    }
    .email-form input {
        margin-right: 0;
        margin-bottom: 10px;
        max-width: 100%;
    }
    .benefit {
        font-size: 2rem;
    }
    .benefit img {
        height: 2rem;
        margin-right: 1rem;
    }
}

@media (max-width: 500px) {
    .brand-name {
        display: none;
    }
    .logo {
        margin-top: 1rem;
    }
    .email-form {
        margin: 0;
        font-size: 1.25rem;
    }
    .benefit {
        font-size: 1.25rem;
    }
    .benefit img {
        height: 1.25rem;
        margin-right: .5rem;
    }
    .benefit-detail-title {
        font-size: 1.25rem;
    }
    .benefit-detail-text {
        font-size: 1.15rem;
    }
    .benefit-detail {
        margin: 1rem;
    }
    .grid-benefit-detail {
        margin-top: 1rem;
    }
}